<!DOCTYPE html>
<html>
   <head>
      <title>My Lowes Project</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel='stylesheet' href='stylesheets/normalize.css'/>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
      <link rel='stylesheet' href='stylesheets/style.css'/>
   </head>
   <body>

      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="row header">
               <div class="nav_header col-xs-9 col-xs-offset-1">
                 <div class="container">
                   <img src="images/lowesNoTagline.jpg" class="img-rounded img-responsive logo">
                 </div>
               	<a href="/my_projects">My Lowes Project</a>
               </div>
               <div class="navbox col-xs-2">
                  <a class="navlink" href="/register">Register</a>
                  <br>
                  <a class="navlink" href="/login">Login</a>
                  <br>
                  <a class="navlink" href="/my_projects">My Projects</a>
                  <br>
                  <a class="navlink" href="/scanner">Product Scan</a>
                  <br>
                  <a class="navlink" href="/projects_list">My Projects</a>
               </div>
            </div>
         </div>
      </nav>
