<% include ./partials/header %>


 <!--  <div class="btn-group center col-xs-12" id='cat_buttons' role="group">
    <button type="button" class="btn btn-default">Bath</button>
    <button type="button" class="btn btn-default">Kitchen</button>
    <button type="button" class="btn btn-default">Bedroom</button>
    <button type="button" class="btn btn-default">Lawn & Garden</button>
  </div> -->

  <div id='bathroom-pic'>
    <h2 id='bathroom-text'  style="color:white; text-shadow: 1px 1px #372F2E;" >Bathroom</h2>
  </div>
  <div id='kitchen-pic'>
    <h2 id='kitchen-text' style="color:white; text-shadow: 1px 1px #372F2E;" >Kitchen</h2>
  </div>
  <div id='bedroom-pic'>
    <h2 id='bedroom-text' style="color:white; text-shadow: 1px 1px #372F2E;" >Bedroom</h2>
  </div>
  <div id='lg-pic'>
    <h2 id='lg-text' style="color:white; text-shadow: 1px 1px #372F2E;" >Lawn & Garden</h2>
  </div>

<% include ./partials/footer %>
