<% include ./partials/header %>

<div class='main'>

</div>


<div class='wrapper'>
  <div class='section1 row'>
    <button class='btn primary-btn'>Bath</button>
    <button class='btn primary-btn'>Kitchen</button>
    <button class='btn primary-btn'>Bedroom</button>
  </div>

  <div class='section2 row'>
    <h1>Username</h1>
  </div>

  <div class='section3 row'>
    <h1>Before | After</h1>
  </div>

</div>

<!-- </div> -->

<% include ./partials/footer %>
