<% include ./partials/header %>

<div class='main'>

</div>


<div class='wrapper'>
  <div class='section1 row'>
    <button class='btn primary-btn'>Bath</button>
    <button class='btn primary-btn'>Kitchen</button>
    <button class='btn primary-btn'>Bedroom</button>
  </div>

  <div class='section2 row-centered'>
    <div class='col-xs-4'>
      <img class='img-responsive userpic' src="http://simpleicon.com/wp-content/uploads/user1.svg">
    </div>

    <div class='col-xs-8'>
      <h1>Username</h1>
    </div>

  </div>

  <div class='row'>
    <div class='col-xs-6'>
      <h1></h1>
      <img class='img-responsive' src="http://designdininganddiapers.com/wp-content/uploads/2012/10/IMG_5565.jpg">
    </div>

    <div class='col-xs-6'>
      <img class='img-responsive' src="http://designdininganddiapers.com/wp-content/uploads/2012/10/IMG_5565.jpg">
    </div>

  </div>


<!-- </div> -->

<% include ./partials/footer %>
