<% include ./partials/header %>
<div id="carousel-categories" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class='car_img category_choice' alt='Bath' src="/images/bath.jpg">
      <div class="carousel-caption">
        <h3>Bathroom</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img category_choice' alt='Kitchen' src="/images/kitchen.jpg">
      <div class="carousel-caption">
        <h3>Kitchen</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img category_choice' alt='Lawn And Garden' src="/images/lawn.jpg">
      <div class="carousel-caption">
        <h3>Lawn and Garden</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img category_choice' alt='Bedroom' src="/images/bedroom.jpg">
      <div class="carousel-caption">
        <h3>Bedroom</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img category_choice' alt='Other' src="/images/otherCategory.jpeg">
      <div class="carousel-caption">
        <h3>Other</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img category_choice' alt='not' src="/images/styles.jpg">
      <div class="carousel-caption">
        <h3>Search by Style only</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img category_choice' alt='all' src="/images/all.jpg">
      <div class="carousel-caption">
        <h3>All</h3>
      </div>
    </div>
    

  <!-- Controls -->
    <a class="left carousel-control" href="#carousel-categories" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-categories" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<div style="display: none" id="carousel-styles" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class='car_img style_choice' alt='Asian' src="/images/asian.jpg">
      <div class="carousel-caption">
        <h3>Asian</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img style_choice' alt='Coastal' src="/images/coastal.jpg">
      <div class="carousel-caption">
        <h3>Coastal</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img style_choice' alt='Contemporary' src="/images/contemporary.jpg">
      <div class="carousel-caption">
        <h3>Contemporary</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img style_choice' alt='Cottage' src="/images/cottage.jpg">
      <div class="carousel-caption">
        <h3>Cottage</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img style_choice' alt='Eclectic' src="/images/eclectic.jpg">
      <div class="carousel-caption">
        <h3>Eclectic</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img style_choice' alt='Mediterranean' src="/images/mediterranean.jpg">
      <div class="carousel-caption">
        <h3>Mediterranean</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img style_choice' alt='Modern' src="/images/modern.jpg">
      <div class="carousel-caption">
        <h3>Modern</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img style_choice' alt='OldWorld' src="/images/oldWorld.jpg">
      <div class="carousel-caption">
        <h3>Old World</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img style_choice' alt='Romantic' src="/images/romantic.jpg">
      <div class="carousel-caption">
        <h3>Romantic</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img style_choice' alt='Traditional' src="/images/traditional.jpg">
      <div class="carousel-caption">
        <h3>Traditional</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img style_choice' alt='Other' src="/images/other.jpg">
      <div class="carousel-caption">
        <h3>Other</h3>
      </div>
    </div>
    <div class="item">
      <img class='car_img style_choice' alt='not' src="/images/categories.jpg">
      <div class="carousel-caption">
        <h3>Search By Category Alone</h3>
      </div>
    </div>
     <!-- Controls -->
    <a class="left carousel-control" href="#carousel-styles" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-styles" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
<!-- <div class="row">
  <div style="display:none" id="styleChoice" class="col-sx-12">
    <img class="style_choice" id="Asian" src="/images/asian.jpg">
    <img class="style_choice" id="Coastal" src="/images/coastal.jpg">
    <img class="style_choice" id="Contemporary" src="/images/contemporary.jpg">
    <img class="style_choice" id="Cottage" src="/images/cottage.jpg">
    <img class="style_choice" id="Eclectic" src="/images/eclectic.jpg">
    <img class="style_choice" id="Mediterranean" src="/images/mediterranean.jpg">
    <img class="style_choice" id="Modern" src="/images/modern.jpg">
    <img class="style_choice" id="OldWorld" src="/images/oldWorld.jpg">   
    <img class="style_choice" id="Romantic" src="/images/romantic.jpg">
    <img class="style_choice" id="Traditional" src="/images/traditional.jpg">
    <img class="style_choice" id="Other" src="/images/other.jpg">
  </div>
</div> -->
<div style="display: none" id="projectDiv"></div>

<script src="/javascripts/home.js"></script>

<% include ./partials/footer %>
