<% include ./partials/header %>

<div class='main'>

</div>


<div class='wrapper'>
  <div class='section1 row'>
    <button class='btn primary-btn'>Bath</button>
    <button class='btn primary-btn'>Kitchen</button>
    <button class='btn primary-btn'>Bedroom</button>
  </div>

  <div class='section2 row-centered'>
    <div class='col-xs-4'>
      <img class='img-responsive userpic' src="http://placehold.it/350x350">
    </div>

    <div class='col-xs-8'>
      <h1>Username</h1>
    </div>

  </div>

  <div class='section3 row'>
    <div class='col-md-offset-3 col-xs-3'>
      <img class='img-responsive'  src="http://placehold.it/350x150">
    </div>

    <div class='col-md-offeset-3 col-xs-3'>
      <img class='img-responsive' src="http://placehold.it/350x150">
    </div>

  </div>


<!-- </div> -->

<% include ./partials/footer %>
