<!-- <<<<<<< HEAD
<% include ./partials/header %>
<div class="container-fluid">
		<div class="login">
		  <h2 class="login_title">Login Form</h2>
		  <br>
		  <form class="login_form" name="login_form" action="/login" method="POST">
		     <input type="email" name="email" placeholder="E-mail">
		     <br><br>
		     <input type="password" name="password1" placeholder="Password">
		     <br><br>
		     <input type="password" name="password2" placeholder="Repeat password">
		     <br><br>
		     <nav class="navbar navbar-default navbar-fixed-bottom">
		        <div class="footbox">
		           <input class="submit-btn" type="submit" name="submit" value="Submit">
		        </div>
		     </nav>
		  </form>
		</div>
  </div>
======= -->
 <% include ./partials/header %>
<!-- >>>>>>> 5c68ebaea45794788a27a7295f3f4a2e208e1491 -->

  <div class="container-fluid">
     <div class="login">
     		<br><br><br>
        <h2 class="page_title">Login:</h2>
        <br>

        <form class="login_form" name="login_form" action="/authenticate" method="POST">
           <input class="input_box form-control" type="email" id="logonId" name="logonId" placeholder="E-mail">
           <br><br>
           <input class="input_box form-control" type="password" id="logonPassword" name="logonPassword" placeholder="Password...">

           <br><br>
                 <input class="submit-btn btn btn-default" type="submit" name="submit" value="Login">
        </form>
     </div>
  </div>

<% include ./partials/footer %>
