<% include ./partials/header %>
<div class="container-fluid">
		<div class="login">
		  <h2 class="login_title">Login Form</h2>
		  <br>
		  <form class="login_form" name="login_form" action="/login" method="POST">
		     <input type="email" name="email" placeholder="E-mail">
		     <br><br>
		     <input type="password" name="password1" placeholder="Password">
		     <br><br>
		     <input type="password" name="password2" placeholder="Repeat password">
		     <br><br>
		     <nav class="navbar navbar-default navbar-fixed-bottom">
		        <div class="footbox">
		           <input class="submit-btn" type="submit" name="submit" value="Submit">
		        </div>
		     </nav>
		  </form>
		</div>
  </div>



<% include ./partials/footer %>