<% include ./partials/header %>
<br><br><br>

	<h3>New Project</h3>
	<form class="newProject_form" name="newProject_form" action="/new_project" method="POST">
		<input class="form-control" type="hidden" name="userID" value="56a406943bbec77049a778cd">
		<input class="form-control" type="text" name="projectName" placeholder="Project Name">
		<br>
		<select name="category" class='form-control'>
			<option value="kitchen">Kitchen</option>
			<option value="bath">Bath</option>
			<option value="bedroom">Bedroom</option>
			<option value="lawnAndGarden">Lawn & Garden</option>
		</select>
		<br>
		<input class="submit-btn btn btn-default" type="submit" name="submit" value="Submit">
	</form>

<% include ./partials/footer %>
