<% include ./partials/header %>

<div class= 'col-xs-10 col-xs-offset-2'>
	<h3 style='font-weight:900;'>Hello <%= name %></h3>
</div>

<div class= 'col-xs-10 col-xs-offset-1'>
	<p>Show off your hard work.</p>

<div class="well well-lg">
	<form class="newProject_form" name="newProject_form" enctype="multipart/form-data" action="/new_project" method="POST">
		<input class="form-control" type="hidden" name="userId" value="<%= userId %>">
		<input class="form-control" type="text" name="projectName" placeholder="Project Name">
		
		<select name="category" class='form-control'>
			<option value="Kitchen">Kitchen</option>
			<option value="Bath">Bath</option>
			<option value="Bedroom">Bedroom</option>
			<option value="Lawn And Garden">Lawn & Garden</option>
			<option value="Other">Other</option>
		</select>
		
		<select name="projectStyle" class='form-control'>
			<option value="Eclectic">Eclectic</option>
			<option value="Cottage">Cottage</option>
			<option value="Mediterranean">Mediterranean</option>
			<option value="Romantic">Romantic</option>
			<option value="Contemporary">Contemporary</option>
			<option value="Asian">Asian</option>
			<option value="Coastal">Coastal</option>
			<option value="Modern">Modern</option>
			<option value="OldWorld">Old World</option>
			<option value="Traditional">Traditional</option>
			<option value="Other">Other</option>
		</select>
		
		<div class="input_fields_wrap">
    	<div>
    		<input type="text" name="step0" placeholder="Step 0">
    		<br>

        Choose Photo File For Image That You Want To Accompany Text<input type="file" name="img" accept="image/*">
				<br>
				<textarea class="form-control" type="text" name="comment0" placeholder="Comment" rows="6"></textarea>
				<br>
				<textarea class="form-control" type="text" name="materials0" placeholder="Materials" rows="6"></textarea>
				<br>
    	</div>
		</div>
		
		<button class="add_field_button btn btn-default">Add Another Step</button>
		<input id="numberOfSteps" style="display: none" type="text" name="numberOfSteps" value="0">
		<!-- <input type="submit" value="Upload"> -->
		<input class="submit-btn btn btn-default" type="submit" name="submit" value="Submit">
	</form>

</div>

	<script>
	$(document).ready(function() {
    var wrapper         = $(".input_fields_wrap"); //Fields wrapper
    var add_button      = $(".add_field_button"); //Add button ID

    var x = 0; //initlal text box count
    $(add_button).click(function(e){ //on add input button click
        e.preventDefault();
          x++; //text box increment
          $('#numberOfSteps').val(x);
          var appText = '<div><input type="text" name="step'+x+'" placeholder="Step '+x+'"><br>Choose Photo File For Image That You Want To Accompany Text<input type="file" name="img" accept="image/*"><br><textarea class="form-control" name="comment'+x+'" placeholder="Comment" rows="6"></textarea><br><textarea class="form-control" type="text" name="materials'+x+'" placeholder="Materials" rows="6"></textarea><br><input style="display: none" type="text" name="step" value="'+x+'"><a href="#" class="remove_field">Remove</a></div>'
          $(wrapper).append(appText); //add input box
    });

    $(wrapper).on("click",".remove_field", function(e){ //user click on remove text
        e.preventDefault(); $(this).parent('div').remove(); x--;
        $('#numberOfSteps').val(x);
    })
  });
	</script>

<% include ./partials/footer %>
