<% include ./partials/header %>
<h1>This is the project_list page</h1>

<br><br><br><br><br><br><br>
<div class="row">
  <div class="container col-xs-offset-1 col-xs-4">
  <img src="http://placehold.it/150x150">
  </div>
  <div class="container col-xs-offset-1 col-xs-4">
  <img src="http://placehold.it/150x150">
  </div>
</div>
<br>
<div class="row">
  <div class="container col-xs-offset-1 col-xs-4">
  <img src="http://placehold.it/150x150">
  </div>
  <div class="container col-xs-offset-1 col-xs-4">
  <img src="http://placehold.it/150x150">
  </div>
</div>
<br>
<div class="row">
  <div class="container col-xs-offset-1 col-xs-4">
  <img src="http://placehold.it/150x150">
  </div>
  <div class="container col-xs-offset-1 col-xs-4">
  <img src="http://placehold.it/150x150">
  </div>
</div>

<% include ./partials/footer %>
