/*********************
*       MAIN         *
*********************/

* {
  box-sizing: border-box;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}
a {
  color: #000000;
}
a:hover {
  color: #222222;
}
img.img-rounded {
  height: 50px;
  width: 100px;
  border: 1px solid #3b7ebf;
}

#loadingGif{
  position: relative;
  height: 45px;
  width: 45px;
  left: 75px;
  border-radius: 200px;
}

.style_choice {
  display: block;
  max-width: 100%;
  height: auto;
}

.listStep {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.projectNameDiv {
  color: #084B8E;
  box-shadow: 3px 2px 0px #084B8E;
  background-color: #E0E0E0;
  padding: 0 5px;
  display: inline-block;
  border-radius: 20px;
  margin-bottom: 7px;
}

.listComMat {
  font-size: 16px;
}

#head {
  background-color: #084b8e;
  border: 1px solid #084b8e;
  padding: 5px;
  border-bottom: 1px solid #000;
}

#lowesBurger{
  background-color: #fff;
  margin-top: 10px;
}
/*********************
*       INDEX        *
*********************/
#banner{
  color: #000;
  margin-bottom: 20px;
  text-align: right;
  font-weight: 900; 
}
#carousel-categories, #carousel-styles {
  margin-top: -20px;
  border-bottom: 1px solid black;
  ;
}

.hidden {
  display: none;
}

.show {
  display: inline;
}

#projectImgContainer {
  border: 3px solid black;
  margin-bottom: 5px; 
  margin-left:-45px; 
  width:375px; 
  height:375px;
}

#projectImg {
  width: 100%;
  height: 100%;
}

/*********************
*      Login         *
*********************/

.login {
  margin-bottom: 20px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

/*********************
*      Register      *
*********************/
.registration * {
  margin-bottom: 5px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}








